/* .homepage {
  background-image: url("./images/image12.jpeg");
  background-size: cover;
  /* padding: 0px 0 250px 0; */
background-repeat: no-repeat;
background-position: center;
height: 100vh;
width: 100vw;
display: flex;
flex-direction: row;

.blog-display {
  height: 100vh;
  background-color: red;
}

.page {
  color: white;
}
.paragraph {
  font-size: 40px;
  color: white;
}
.titlepage {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}
.editdelete {
  display: flex;
  margin-right: 60px;
  justify-content: space-between;
  align-items: center;
}

.blogcard {
  align-items: center;
  position: relative;
  display: flex;
  margin-left: 80px;
  width: 100%;
}
.image {
  margin-right: 60px;
  width: 100px;
  height: 100px;
}
.btn1 {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: black;
  color: white;
}
.title {
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", "monospace";
  font-size: 40px;
}
.inputtype {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn3 {
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;
  color: white;
}

.body {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/image3.jpg"); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.text {
  color: white;
}

.main {
  text-align: center;
  justify-content: center;
  display: block;
  background-size: cover;
}
input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px silver;
  border: none;
  outline: none;
  background-color: #fff;
}
.name {
  padding-left: 10px;
  align-items: center;
}
.button-1 {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: orange;
  color: white;
  font-size: 25px;
  border: none;
}
.link {
  font-size: 15px;
  font-weight: 400;
}
a {
  color: blue;
}

.btn-2 {
  width: 100px;
  height: 50px;
  border-radius: 60px;
  color: black;
  font-size: 25px;
  border: none;
}
.major {
  border: solid;
  color: white;
  width: 1200px;
  height: 500px;
  margin-left: 200px;
  border-radius: 15px;
  border-block-color: orange;
  background-color: rgb(6, 57, 43);
  opacity: 90%;
}

/* margin-top: 100px;
  padding-left: 120px;
  padding-right: 150px;
}
.head {
  margin-bottom: 50px;
  padding-left: 320px;
}
.infor {
  color: white;
  font-size: 20px;
}
.cont h2 {
  padding-left: 340px;
}
.social li {
  display: inline;
  padding-left: 150px;
  color: orange;
} */
